PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/kigali_bus_tracker
JWT_SECRET=replace_with_a_long_random_string
JWT_EXPIRES_IN=7d
GOOGLE_MAPS_API_KEY=
AT_USERNAME=sandbox
AT_API_KEY=
USSD_SERVICE_CODE=*384*XXXX#
TRACKER_INGEST_SECRET=replace_with_a_long_random_string
